@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    background-color: #eee;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    /* VW sets the font/text size based on the width of the viewport (AKA Browser Window) */
    font-size: 2vw;
    /* font-size: 25px; */
    text-align: center;
    border-bottom: 5px solid #ccc;
    padding-bottom: 3%;
    /* Width between two images */
    /* 1.25 * 2 = 2.5 */
    /* Wid of the paragraph element (AKA bot border) */
    /* 45 * 2.5 = 47.5 */
    width: 47.5%;
    /* margin auto centers the paragraph element horizonitally inside the body element */
    margin: auto;
}

img {
    width: 22.5%;
    margin: 1.25%;
    /* float places an element on the left or right of its parent containor/parent allowing inline elements to wrap around it.  */
    float: left;
}
